html, body {
  
   height: 100%;  
   padding:0;
   margin:0;
}
#svg-container
{
  display: flex;
  align-items: center;
  background-color: red;
  height: 100%;
}

#svg-1
{
  margin: 0 auto;
  display: block;
}